*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 60vh;
    background-image: url(pav1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5px;
    
    
}

h1{
    text-align: center;
    width: 450px;
    height: 150px;
    font-size: 50px;
    margin: 250px auto;
    text-transform: uppercase;
    text-shadow: 2px 2px #fff;
}

nav{
    width: 100%;
    background-color: grey;
    height: 60px;
}

ul{
    width: 100%;
    text-align: center;
    color: brown;
}

li{
    outline: 2px solid black;
    display: inline-block;
    width: 200px;
    height: 58px;
    font-size: 10px;
    background-color: mediumslateblue;
}

a{
    display: block;
    width: 200px;
    height: 60px;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

h2{
    font-size: 30px;
    margin-top: 20px;
}

p{
    font-size: 25px;
    text-align: justify;
    padding: 20px;
}

main{
    text-align: center;
}

img{
    width: 450px;
    height: 400px;
}

div{
    color: black;
}


